In [109]:
import re
import pandas as pd
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [2]:
x = re.findall("Portugal", txt)
print(x)

[]

In [20]:
x = re.search("\s", txt)
print(x)
print("The first white-space character is located in position:", x.start())

<re.Match object; span=(3, 4), match=' '>
The first white-space character is located in position: 3

In [26]:
txt = "The rain in Spain"

# Search for a dash
x = re.search("-", txt)

if x:
    print("The first dash is located at position:", x.start())
else:
    print("No dash found in the text")

No dash found in the text

In [27]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [35]:
txt = "The rain in Spain"
x = re.split("\s", txt,1)
print(x)

['The', 'rain in Spain']

C:\Users\World\AppData\Local\Temp\ipykernel_25196\2120594470.py:2: DeprecationWarning: 'maxsplit' is passed as positional argument
  x = re.split("\s", txt,1)

In [37]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt,1)
print(x)

The9rain in Spain

C:\Users\World\AppData\Local\Temp\ipykernel_25196\1140935488.py:2: DeprecationWarning: 'count' is passed as positional argument
  x = re.sub("\s", "9", txt,1)

In [41]:
txt = "Hello StackOverflow!"
x = re.search(r"\bS\w+", txt)
print(x.span())
txt[6:19]

(6, 19)

'StackOverflow'

In [43]:
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [44]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [ ]:
2️⃣ Backslash \ – Special sequences / escape

\d → Matches any digit (0–9)

\D → Matches any non-digit

\s → Matches any whitespace

\S → Matches any non-whitespace

\w → Matches word character (letters, digits, underscore)

\W → Matches non-word character

In [45]:
txt = "Hello 123"
print(re.findall(r"\d", txt)) 
print(re.findall(r"\w", txt))

['1', '2', '3']
['H', 'e', 'l', 'l', 'o', '1', '2', '3']

In [46]:

text = "Order 123, item 456"
matches = re.findall(r'\d', text)
print(matches)  

# To match full numbers instead of single digits
numbers = re.findall(r'\d+', text)
print(numbers)

['1', '2', '3', '4', '5', '6']
['123', '456']

In [47]:
text = "Order 123, item 456"
matches = re.findall(r'\D', text)
print(matches)

['O', 'r', 'd', 'e', 'r', ' ', ',', ' ', 'i', 't', 'e', 'm', ' ']

In [48]:
non_digits = re.findall(r'\D+', text)
print(non_digits)

['Order ', ', item ']

In [49]:
text = "Hello \tWorld\nNew line"
matches = re.findall(r'\s', text)
print(matches)

[' ', '\t', '\n', ' ']

In [50]:
words = re.split(r'\s+', text)
print(words)

['Hello', 'World', 'New', 'line']

In [51]:
text = "Hello \tWorld\n"
matches = re.findall(r'\S', text)
print(matches)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [52]:
non_spaces = re.findall(r'\S+', text)
print(non_spaces)

['Hello', 'World']

In [53]:
text = "User_123 logged in!"
matches = re.findall(r'\w', text)
print(matches)

['U', 's', 'e', 'r', '_', '1', '2', '3', 'l', 'o', 'g', 'g', 'e', 'd', 'i', 'n']

In [54]:
words = re.findall(r'\w+', text)
print(words)

['User_123', 'logged', 'in']

In [55]:
text = "User_123 logged in!"
matches = re.findall(r'\W', text)
print(matches)

[' ', ' ', '!']

In [57]:
non_words = re.findall(r'\W+', text)
print(non_words)

[' ', ' ', '!']

In [ ]:
Dot . – Any character except newline

In [63]:
txt = "hello hello helloworld"
x = re.findall("he..o", txt)
print(x)

['hello', 'hello', 'hello']

In [ ]:
Caret ^ – Starts with

In [66]:
txt = "hello world hello boy"
x = re.findall("^hello", txt)
print(x)

['hello']

In [69]:
txt = "welcome to the planet"
x = re.findall("planet$", txt)
print(x)

['planet']

In [ ]:
Star * – Zero or more occurrences of character at *

In [70]:
txt = "heo heeeo heo"
x = re.findall("he.*o", txt)
print(x)

['heo heeeo heo']

In [ ]:
Plus + – One or more occurrences of charater at +

In [83]:
txt = "ho heeeo ho"
x = re.findall("he.+?o", txt)
print(x)

['heeeo']

In [90]:
txt = "hello hllo ello"
x = re.findall("h?e?llo", txt)
print(x)

['hello', 'hllo', 'ello']

In [91]:
txt = "heeeo heeo heo"
x = re.findall("he.{2}o", txt)
print(x)

['heeeo']

In [92]:
txt = "It falls or it stays"
x = re.findall("falls|stays", txt)
print(x)

['falls', 'stays']

In [93]:
txt = "John: 25, Alice: 30"
x = re.findall(r"(\w+): (\d+)", txt)
print(x)

[('John', '25'), ('Alice', '30')]

In [ ]:
\b – Word boundary if put first then only ,match start and if put at end then match fraom start to end

In [99]:
txt = "bain in Spain"
print(re.findall(r"\bain", txt))  
print(re.findall(r"ain\b", txt))

[]
['ain', 'ain']

In [100]:
txt = "The rain in Spain"
print(re.findall(r"\Bain", txt))  
print(re.findall(r"ain\B", txt))

['ain', 'ain']
[]

In [101]:

txt = "rain and sun"
print(re.findall("[arn]", txt))

['r', 'a', 'n', 'a', 'n', 'n']

In [102]:
txt = "hello world"
print(re.findall("[a-n]", txt))

['h', 'e', 'l', 'l', 'l', 'd']

In [103]:
#[^] match character not in set
txt = "rain and sun"
print(re.findall("[^arn]", txt))

['i', ' ', 'd', ' ', 's', 'u']

In [105]:
txt = "Times: 00, 12, 35, 59,4,6, 61"
print(re.findall("[0-5][0-9]", txt))

['00', '12', '35', '59']

In [106]:
txt = "Hello World!"
print(re.findall("[a-zA-Z]", txt))

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [107]:
txt = "3 + 4 = 7"
print(re.findall("[+]", txt))

['+']

In [114]:
df = pd.DataFrame({
    'time': ['3 hrs 15 mins', '2 hr', '50 mins', None]
})

# Extract hours and minutes
h = df['time'].str.extract(r'(\d+)\s*hrs?')[0].fillna(0).astype(int)
m = df['time'].str.extract(r'(\d+)\s*mins?')[0].fillna(0).astype(int)

# Convert to timedelta
df['time'] = pd.to_timedelta(h*60 + m, unit='m')
print(df)
print("hour",h,'minutes',m)

             time
0 0 days 03:15:00
1 0 days 02:00:00
2 0 days 00:50:00
3 0 days 00:00:00
hour 0    3
1    2
2    0
3    0
Name: 0, dtype: int64 minutes 0    15
1     0
2    50
3     0
Name: 0, dtype: int64

In [115]:

df = pd.DataFrame({
    'time': ['2 hrs and 20 mins', '13 hrs', '45 mins', '1 hr 5 min', '3 hrs 0 mins']
})

df[['hours','minutes']] = df['time'].str.extract(r'(?:(\d+)\s*hrs?)?\s*(?:(\d+)\s*mins?)?')
df = df.fillna(0)
df[['hours','minutes']] = df[['hours','minutes']].astype(int)

df['duration_minutes'] = df['hours']*60 + df['minutes']
print(df)

                time  hours  minutes  duration_minutes
0  2 hrs and 20 mins      2        0               120
1             13 hrs     13        0               780
2            45 mins      0       45                45
3         1 hr 5 min      1        5                65
4       3 hrs 0 mins      3        0               180

In [123]:
import re

text = "Slept for 8 hrs and worked 12hr today"

pattern = r"(?P<hours>\d+)\s*hrs?"

matches = re.finditer(pattern, text)
for m in matches:
    print(f"Full match: {m.group(0)}, Hours captured: {m.group('hours')}")

Full match: 8 hrs, Hours captured: 8
Full match: 12hr, Hours captured: 12

In [129]:
html = "<div>Hello</div><div>World</div>"
non_greedy = re.findall(r'<div>.*</div>', html)
print(non_greedy)

['<div>Hello</div><div>World</div>']

In [128]:
html = "<div>Hello</div><div>World</div>"
non_greedy = re.findall(r'<div>.*?</div>', html)
print(non_greedy)

['<div>Hello</div>', '<div>World</div>']

In [130]:
text = "<think>some thoughts</think><code>print('hi')</code>"
greedy = re.findall(r'^.*<code>', text)
print(greedy)

['<think>some thoughts</think><code>']

In [133]:
text = "Hello World"

x=re.match(r"^Hello", text)  
y=re.match(r"World", text)   
print(x,y)

<re.Match object; span=(0, 5), match='Hello'> None

In [136]:
text = "<think>some thoughts</think><code>print('hi')</code>"
non_greedy = re.findall(r'^.*?<code>', text)
print(non_greedy)

['<think>some thoughts</think><code>']

In [137]:
txt = "Rated 4.5 out of 5 stars"

# Regex pattern with a capture group
pattern = r'^.*?(\d+\.?\d*)\s*out of\s*5.*$'

# Search using regex
match = re.search(pattern, txt)

if match:
    print("Full match:", match.group(0))   # Everything matched
    print("Captured group 1 (the number):", match.group(1))  # The number only

Full match: Rated 4.5 out of 5 stars
Captured group 1 (the number): 4.5

In [151]:
txt = "Price: $49.99"
# pattern = r'Price:\s*(?:\D(\d+\.\d{2}))'
pattern=r'(?P<Cprice>Price:\s*(?P<Currency>\D)(?P<Price>\d+\.\d{2}))'

match = re.search(pattern, txt)
print(match.group('Price'),match.group('Currency'),match.group('Cprice'))

49.99 $ Price: $49.99